ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

.navbar {
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
    background: black;
	color: white;
    z-index: 1000;
	
}

.container {
	display: flex;
    align-items: center;
	
	height: 80px;
	width: 100%;
}

.navlinks {
	display: flex;
    align-items: center;
	justify-content: space-between;
}



body { background-color: teal;
	padding-top: 80px;}


	
    
	padding: 15px 40px;