/*Image+Text Wrap Start*/
.container1 {
  border: 1px solid black;
}
img {
  float: left;
  margin-right: 20px;
  width: 25%;
}
/*Image+Text Wrap End*/


/*Overlapping Boxes Start*/
.container2 {
  border: 1px solid transparent;
  margin-top: 100px;
}
.container::after {
  content: "";  
  display: block;
  clear: both;
}
.container {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.box1 {
  position: absolute;
  z-index: 1;
  background: lightcoral;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
}
.box2 {
  position: absolute;
  z-index: 3;
  background: gold;
  top: 40px;
  left: 40px;
  width: 100px;
  height: 100px;
}
.box3 {
  position: absolute;
  z-index: 2;
  background: lightgreen;
  top: 60px;
  left: 60px;
  width: 100px;
  height: 100px;
}
/*Overlapping Boxes End*/



/*Gradient Interactive Box Start*/
@property --gradient-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
.gradient-box {
  width: 100px;
  height: 100px;
  position: float;
  z-index: 9;
  background: lightgreen;
  top: 200px;
  left: 200px;
  background: linear-gradient(var(--gradient-angle), purple, cyan);
  transition: --gradient-angle 0.5s;
}
.gradient-box:hover {
  --gradient-angle: 90deg;
}
/*Gradient Interactive Box End*/


/*Grid Start*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.item {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}
/*Grid End*/


/*Grid2 Start*/
html,
body {
  width: 100%;
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 15px;
  background-color: darkgray;
  height: 50px;
}
.col {
  background-color: darkslateblue;
}
/*Grid2 End*/


/*Grid3 Start*/
.grid3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-template-rows: repeat(4, 100px); /* 4 equal rows */
  gap: 10px;
}

.grid3 > div {
  display: grid;
  place-items: center;
  background: crimson;
  color: white;
  font-size: 4rem;
}

.item1 {
  grid-column: 1 / span 2;
}

.item4 {
  grid-column: 1 / span 3;
}

.item6 {
  grid-column: 1 / span 2;
}

.item7 {
  grid-column: 3 / span 2;
}
/*Grid3 End*/


/*Animation Start*/
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.sliding-element {
  animation: slide-in 2s ease-out infinite;
}
.complex-animation {
  animation-name: color-change;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes color-change {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
.button {
  background-color: blue;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: red;
}
/*Animation End*/