html, body {
  height: 100%;              /* Make sure the body takes up full viewport height */
  margin: 0;                 /* Remove default margins */
}

body {
  display: flex;             /* Enable flexbox layout */
  justify-content: center;   /* Horizontally center content */
  align-items: center;       /* Vertically center content */
  height: 100vh;             /* Ensure body fills the viewport height */
}

.space {             	
  height: 200px;      
width: 200px;  
position: relative;
background-color: black;
}

.earth{ 
	position: absolute;
	height: 100px;      
width: 100px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: blue;
border-radius: 50%;}

.orbit{ width: 200px;
	height: 200px;
	position: absolute;
	transform: translate(-50%, -50%);
	animation-name: orbit;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	border-radius: 50%;

}
	
	
@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%)
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%)
  }
}

.moon{ position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 50%;
  transform: translateX(-50%);
	background-color: grey;
	border-radius: 50%;

}