body{font-family: ariel;
	text-align: center;}
#header-img{width:20vw;
	float: left;}
	
#nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;

}

@media (max-width: 768px) {
  #header {
    margin-top: 7rem;
    text-align: center;
  }
