
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* variables */
:root {
	/* Colors */
	--accentColorMain: #CC8305; /* dark gold */
	--accentColorAlt: #FAB63E; /* light gold */
	--accentColorBold: #037172; /* dark teal */
	--accentColorGray: #757575; /* light gray */
	--bgColorMain: #ffffff; /* white */
	--bgColorAlt: #222222; /* blackish */
	--textColorMain: #222222; /* blackish */
	--textColorAlt: #ffffff; /* white */

	/* Font Weight */
	--weightSmall: 300;
	--weightSemibold:500;
	--weightBold: 700;
}

/* Reset default styling */

html {
	font-size: 1rem;
	scroll-behavior: smooth;
}

* {
	
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--accentColorBold);
}

a:hover {
    color: var(--accentColorMain);
}

a:visited {
    color: var(--accentColorGray);
}

/* Main styling */
body {
	background: var(--bgColorMain);
	color: var(--textColorMain);
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
	margin: 15px;
	padding-top: 75px;
}
/* --- OVERLAY --- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 1000;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* --- HAMBURGER BUTTON --- */
.hamburger {
  position: fixed;
  top: 25px;
  right: 20px;
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: var(--bgColorMain);
  border-radius: 2px;
  transition: 0.3s ease;
}

.hamburger span:hover {
  background: var(--accentColorMain);
}

/* X ANIMATION */
.hamburger.active span:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

/* --- SIDE MENU --- */
.side-menu {
  position: fixed;
  top: 0;
  left: -275px;
  width: 275px;
  height: 100%;
  background: var(--bgColorAlt);
  color: var(--textColorAlt);
  transition: 0.3s ease;
  padding-top: 80px;
  padding-left: 12px;
  z-index: 1050;
}

.side-menu ul {
  padding: 0;
}

.side-menu ul li {
  margin: 20px 5px;
}

.side-menu ul li a {
  color: var(--textColorAlt);
  padding: 10px 20px;
  display: block;
  font-size: 1.125rem;
}

.side-menu ul li a:hover {
  color: var(--accentColorMain);
}

.side-menu.open {
  left: 0;
}

/* Navbar */
#topBar {
    position: fixed;
    top: 0;
    left: 0;
	right: 0;
    background: var(--bgColorAlt);
    z-index: 1000;
}

#navBar {
	display: flex;
    align-items: center;
	justify-content: space-between;
	height: 80px;
	width: 100%;
}

#navLinks {
	display: flex;
    align-items: center;
	justify-content: space-evenly;
	padding-right: 70px;
}

.nav-link {
	font-weight: var(--weightSemibold);
 	color: var(--textColorAlt);
	padding: 15px;
}

#logo {
	height: 70%;
	padding-left: 10px;
}


/* ACORN BULLET POINTS*/
.custom-bullets li {
  list-style: none;
  position: relative;
  padding-left: 28px; /* space for icon */
}

.custom-bullets li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background-image: url("../assets/acorn.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.feature {
	display: block;
	margin: 0 auto;
}   

/* Footer */
#footer {
  background: var(--bgColorAlt);
}

#bottomBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--textColorAlt);
  height: 120px;
  text-align: center;
  line-height: 1.2;
}

#footer a {
  font-size: 0.8rem;
  color: var(--textColorAlt);
  margin-top: 7px;
}

#footer a:hover {
  color: var(--accentColorMain);
}

#footer .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

#footer .social img {
  width: 24px;
  height: 24px;
}


#footer p {
  font-size: 0.8rem;
  }
  
  
  
  
  
  
  
  
