.feature-card input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #f1be32;
  border-radius: 4px;
  background-color: white;
  vertical-align: middle;
  margin-right: 15px;
}

.feature-card input[type="checkbox"]:checked {
  background-color: purple;
  border-color: red;
  appearance: none;
}

.feature-card input[type="checkbox"]:checked::after {
  content: "✓";
  display: block;
  text-align: center;
font-weight: bold;
color: white; 

}





