*{ font-family: arial;}


#welcome-section{width:100vw;
	height: 100vw;
background-color: #5a7c91;
text-align: center;
}

nav{ background-color: black;
	color: white;
	position: fixed;
	top: 0px;
	right: 0px;}
	
@media screen and (min-width: 768px) {
  body {font-size: 1.125rem;  } }